/* added by 2dm */
.priority-web:after, .toc .nav>li>a.priority-web:after {
    content: " 🌐"; 
}

/* internal not so important */
.priority-internal, .toc .nav>li>a.priority-internal {
    color: lightgray;
}

.priority-data:after, .toc .nav>li>a.priority-data:after {
    content: " 🧊"; 
}

.priority-metadata:after, .toc .nav>li>a.priority-metadata:after {
    content: " 🔖"; 
}

.priority-adam:after, .toc .nav>li>a.priority-adam:after {
    content: " 📷"; 
}

.priority-custom:after, .toc .nav>li>a.priority-custom:after {
  content: " ⭐"; 
}
/* future icons: 🌐 🧊 ♥️ 🔍 🏷️ 🔖 📕 💾 💻 📤 📥📦 🎁💼📁📎🔗 📷🖼️*/
/* see also https://emojipedia.org/microsoft/ */


/* Change link colors - too subtle */

p a {
  text-decoration: underline;
  color: #4C87F0;
}


/* from the docfx material theme */

body {
    color: #34393e;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word
}

/* HEADINGS */

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1,
article h2,
article h3,
article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

/* NAVBAR */

/* .navbar-brand>img {
    color: #fff;
} */

.navbar {
    border: none;
    /* Both navbars use box-shadow */
    -webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
}

.subnav {
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #efefef; /* #0d47a1; */
    z-index: 100;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #337ab7;
    background-color: #efefef; /* #0d47a1; */
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #337ab7 !important;
    background-color: #efefef; /* #0d47a1; */
    border-bottom: 3px solid #337ab7; /* white */
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #337ab7 !important;
    background-color: #efefef; /* #0d47a1; */
    border-bottom: 3px solid #337ab7; /* white */
}

.toc .nav > li.active > a {
    color: #337ab7 !important;
}



.navbar-form .form-control {
    border: none;
    border-radius: 20px;
}

/* SIDEBAR */

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    color: #34393e;
}

/* Start correct Toc Level 3 & 4 (not defined in docfx.css */

.toc .level3 {
  /* font-weight: normal; */
  margin: 0 0 0 15px;
  /* font-size: 14px; */
}

.toc .level4 {
  /* font-weight: normal; */
  margin: 0 0 0 15px;
  /* font-size: 14px; */
}

/* End */

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
}

.toc-filter>input {
    border: 2px solid #ddd;
    border-radius: 20px;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc>.toc {
    background-color: #fff;
    overflow-x: hidden;
}

.sidetoc {
    background-color: #fff;
    border: none;
}

/* make sure HRs cover whole width */
.sidetoc hr {
  margin-left: -20px;
}

.sidetoc ul ul /* ul */ li hr {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

/* ALERTS */

.alert {
    padding: 0px 0px 5px 0px;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

.alert>p {
    margin-bottom: 0;
    padding: 5px 10px;
}

.alert>ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert>h5 {
    padding: 10px 15px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.alert-info>h5 {
    color: #1976d2;
    border-bottom: 4px solid #1976d2;
    background-color: #e3f2fd;
}

.alert-warning>h5 {
    color: #f57f17;
    border-bottom: 4px solid #f57f17;
    background-color: #fff3e0;
}

.alert-danger>h5 {
    color: #d32f2f;
    border-bottom: 4px solid #d32f2f;
    background-color: #ffebee;
}

/* CODE HIGHLIGHT */
pre {
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
  /* adjust highlight-color to the highlightJS CDN */
	/* background-color: #fffaef; */
  background-color: #f0f0f0;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.4);
}


/* Side Bar navigation (to the right) */

/* level 2 */
nav.bs-docs-sidebar>ul>li>ul>li {
  padding-left: 10px;
}
/* level 3 */
nav.bs-docs-sidebar>ul>li>ul>li>ul>li {
  padding-left: 20px;
}


/* Image floats */

img.float-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
}

img.right-thumbnail {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 25%;
}

img.float-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}

img.full-width {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  
  /* add shadow to all full-size images since they often have white around them */
  box-shadow:0 0 8px 0 rgba(0,0,0,0.15);
  border-radius:4px;margin:10px 0;
}

/* Feature Images */

img.feature {
  max-width: 100%;
  max-height: 250px;
}

/* 
  add shadow to all full-size images since they often have white around them
  note that you shoud prefer full-width or something, as that also ensures spacing around it
*/
img.glow { 
  box-shadow:0 0 8px 0 rgba(0,0,0,0.15);
  border-radius:4px;margin:10px 0;
}


/* Overlay boxes (experimental)
  inspired by https://stackoverflow.com/questions/18339549/floating-div-over-an-image
*/

.overlay-container {
  width: 100%;
  position: relative;
}

div.float-right {
  float: right; 
  margin: 0 0 10px 20px
}

div.float-right>div.overlay-container {
  float: inherit;
}

.overlay-box {
    float: left;
    position: absolute;
    left: 100px;
    top: 25px;
    width: 100px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    border: yellow 5px solid;
    pointer-events: none;
}

div.overlay-description {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  padding-bottom: 5px;
}



/***** Fancybox *****/

.fancybox-auto {
  cursor:zoom-in;
}

/* prevent from getting too tall in lightox */
.fancybox-auto svg {
  max-height: 90vh;
}
.svg-highlight {
  stroke: yellow;
  stroke-width: 25;
  fill: none;
  animation: highlight-bounce 3s linear infinite;
}
svg:hover .svg-highlight {
  animation: highlight-bounce 5s linear infinite;
}
.highlight-max .svg-highlight {
  stroke-width: 75;
}

@keyframes highlight-bounce {
  0%, 100% { stroke: gold }
  20%, 80% {stroke: cornsilk }
  50% {stroke: black}
}


/* hide the prepared boxes */
.svg-highlight.prepared {
  visibility: hidden;
}
