﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          <ul class="nav level1">
                <li class="">
                    <a href="index.html" class="priority-" name="" title="">C#, Razor &amp; DynamicCode</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="dynamic-data/index.html" class="priority-" name="" title="">Dynamic Data</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="dynamic-data/data-origins.html" class="priority-" name="" title="">Where Data Comes From</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-data/dynamic-entity.html" class="priority-" name="" title="">Dynamic Entity</a>
                          </li>
                          <li class="">
                              <a href="dynamic-data/entity.html" class="priority-" name="" title="">Entity</a>
                          </li>
                          <li class="">
                              <a href="dynamic-data/entity-vs-dynamic-entity.html" class="priority-" name="" title="">DynamicEntity vs. Entity</a>
                          </li>
                          <li class="">
                              <a href="dynamic-data/dynamic-list.html" class="priority-" name="" title="">Dynamic Lists</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-data/dynamic-stack.html" class="priority-" name="" title="">Dynamic Stack</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="dynamic-code/index.html" class="priority-" name="" title="">Dynamic Code API</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="dynamic-code/content.html" class="priority-" name="" title="">Content &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/object-data.html" class="priority-" name="" title="">Data &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/header.html" class="priority-" name="" title="">Header</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/as-adam.html" class="priority-" name="" title="">AsAdam(...)</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/as-dynamic.html" class="priority-" name="" title="">AsDynamic(...) &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/as-dynamic-string.html" class="priority-" name="" title="">AsDynamic(string)</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/as-entity.html" class="priority-" name="" title="">AsEntity(...)</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/as-list.html" class="priority-" name="" title="">AsList(...)</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/create-instance.html" class="priority-" name="" title="">CreateInstance(...)</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/get-service.html" class="priority-" name="" title="">GetService&lt;T&gt;(...)</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/create-source.html" class="priority-" name="" title="">CreateSource&lt;T&gt;(...)</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/cmscontext/index.html" class="priority-" name="" title="">CmsContext &#10024;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/settings.html" class="priority-" name="" title="">Settings &#10024;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/resources.html" class="priority-" name="" title="">Resources &#10024;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/app/index.html" class="priority-" name="" title="">App &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/app/app-data.html" class="priority-" name="" title="">App.Data &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/objects/app/app-query.html" class="priority-" name="" title="">App.Query &#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/object-dnn.html" class="priority-" name="" title="">Dnn &#9762;&#65039;</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="dynamic-code/objects/link.html" class="priority-" name="" title="">Link</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="dynamic-code/objects/link.base.html" class="priority-" name="" title="">Link.Base()</a>
                                    </li>
                                    <li class="">
                                        <a href="dynamic-code/objects/link.image.html" class="priority-" name="" title="">Link.Image(...) &#10024;</a>
                                    </li>
                                    <li class="">
                                        <a href="dynamic-code/objects/link.to.html" class="priority-" name="" title="">Link.To(...) for Pages &amp; APIs &#10024;</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/object-edit.html" class="priority-" name="" title="">Edit &#129682;&#11088;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/object-html.html" class="priority-" name="" title="">Html &#129682;</a>
                          </li>
                          <li class="">
                              <a href="dynamic-code/object-dynamic-model.html" class="priority-" name="" title="">DynamicModel &#129682;</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="razor/index.html" class="priority-" name="" title="">Razor Components &#129682;</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="razor/razor-component.html" class="priority-" name="" title="">Razor Component API</a>
                          </li>
                          <li class="">
                              <a href="razor/organize-code.html" class="priority-" name="" title="">Organize, Split and Share Code</a>
                          </li>
                          <li class="">
                              <a href="razor/code-behind.html" class="priority-" name="" title="">Razor Code-Behind</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="razor/edit.html" class="priority-" name="" title="">Edit Object</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="razor/edit.toolbar.html" class="priority-" name="" title="">Edit.TagToolbar Edit.Toolbar</a>
                                    </li>
                                    <li class="">
                                        <a href="razor/edit.enable.html" class="priority-" name="" title="">Edit.Enable</a>
                                    </li>
                                    <li class="">
                                        <a href="razor/edit.contextattributes.html" class="priority-" name="" title="">Edit.ContextAttributes</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a href="razor/blocks.html" class="priority-" name="" title="">Content Block</a>
                          </li>
                          <li class="">
                              <a href="razor/services/page-service.html" class="priority-" name="" title="">PageService: Titles/Headers</a>
                          </li>
                          <li class="">
                              <a href="razor/services/page-service-activate.html" class="priority-" name="" title="">PageService: Load JS / CSS</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="razor/obsolete/index.html" class="priority-" name="" title="">Obsolete Razor APIs</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="razor/customizedata.html" class="priority-" name="" title="">CustomizeData(...) &#9762;&#65039; v6-11</a>
                                    </li>
                                    <li class="">
                                        <a href="razor/customizesearch.html" class="priority-" name="" title="">CustomizeSearch(...) &#9762;&#65039; v6-11</a>
                                    </li>
                                    <li class="">
                                        <a href="razor/purpose.html" class="priority-" name="" title="">Purpose &#9762;&#65039; v6-11</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a class="">How To...</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="razor/migrate-to-v10.html" class="priority-" name="" title="">Migrate to RazorComponent</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="razor/base-classes.html" class="priority-" name="" title="">@inherits Base Classes</a>
                          </li>
                          <li class="">
                              <a href="razor/hybrid/index.html" class="priority-" name="" title="">Hybrid Dnn &#9762;&#65039; &amp; Oqtane &#129656; Razor</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a href="search/index.html" class="priority-" name="" title="">Search Customizations &#9762;&#65039;</a>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="data/index.html" class="priority-" name="" title="">Dynamic Data LINQ</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="data/linq-guide.html" class="priority-" name="" title="">LINQ Guide</a>
                          </li>
                          <li class="">
                              <a href="data/linq-datasource.html" class="priority-" name="" title="">LINQ Examples</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="data-sources/index.html" class="priority-" name="" title="">DataSources</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="data-sources/use/index.html" class="priority-" name="" title="">Use DataSources in C#</a>
                          </li>
                          <li class="">
                              <a href="data-sources/use/data-source-parameters.html" class="priority-" name="" title="">DataSource Parameters</a>
                          </li>
                          <li class="">
                              <a href="data-sources/use/query-parameters.html" class="priority-" name="" title="">Query Parameters</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="data-sources/datastream.html" class="priority-" name="" title="">DataStreams</a>
                          </li>
                          <li class="">
                              <a href="data-sources/datasource.html" class="priority-" name="" title="">DataSources</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="data-sources/custom/index.html" class="priority-" name="" title="">Custom DataSources</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="data-sources/custom/api.html" class="priority-" name="" title="">APIs to create DataSources</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/provide.html" class="priority-" name="" title="">Provide(...)</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/data-builder.html" class="priority-" name="" title="">DataBuilder</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/streams-out.html" class="priority-" name="" title="">Out Streams</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/streams-in.html" class="priority-" name="" title="">In Streams</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/errors.html" class="priority-" name="" title="">Error Handling</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/configuration.html" class="priority-" name="" title="">Configuration</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/configuration-data.html" class="priority-" name="" title="">Configuration Data</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/configurable-datasource.html" class="priority-" name="" title="">Configurable DataSource</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/configmask.html" class="priority-" name="" title="">ConfigMask(...)</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/configuration-parse.html" class="priority-" name="" title="">Configuration.Parse()</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/visual-query-attribute.html" class="priority-" name="" title="">VisualQuery Attribute</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/external-data.html" class="priority-" name="" title="">Inherit from ExternalData</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/immutable.html" class="priority-" name="" title="">Immutable Lists</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/type-source.html" class="priority-" name="" title="">Create-Data DataSources</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/type-filter.html" class="priority-" name="" title="">Filter-Data DataSources</a>
                          </li>
                          <li class="">
                              <a href="data-sources/custom/type-modify.html" class="priority-" name="" title="">Modify-Data DataSources</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data-sources/custom/tutorial-basic/index.html" class="priority-" name="" title="">Tutorial DataSource Basic</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="data-sources/custom/tutorial-basic/basic.html" class="priority-" name="" title="">Basic DataSource</a>
                                    </li>
                                    <li class="">
                                        <a href="data-sources/custom/tutorial-basic/basic-list.html" class="priority-" name="" title="">BasicList DataSource</a>
                                    </li>
                                    <li class="">
                                        <a href="data-sources/custom/tutorial-basic/configurable.html" class="priority-" name="" title="">Configurable DataSource</a>
                                    </li>
                              </ul>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <a href="razor-blade/index.html" class="priority-" name="" title="">RazorBlade</a>
                </li>
                <li class="">
                    <a href="koi/index.html" class="priority-" name="" title="">Koi</a>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="web-api/index.html" class="priority-" name="" title="">Custom C# Web API</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="web-api/index.html" class="priority-" name="" title="">Introduction</a>
                          </li>
                          <li class="">
                              <a href="web-api/custom-web-api-files.html" class="priority-" name="" title="">File Structure</a>
                          </li>
                          <li class="">
                              <a href="web-api/custom-web-api-base-class.html" class="priority-" name="" title="">Controller Base Class</a>
                          </li>
                          <li class="">
                              <a href="web-api/custom-web-api-dotnet-api.html" class="priority-" name="" title="">C# APIs</a>
                          </li>
                          <li class="">
                              <a href="web-api/custom-web-api-dotnet-saveinadam.html" class="priority-" name="" title="">SaveInAdam(...)</a>
                          </li>
                          <li class="">
                              <a href="web-api/custom-web-api-security.html" class="priority-" name="" title="">C# Web API Security</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a class="">Pre-Convert Entities for JSON #todoc</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a class="">Common Issues</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="web-api/issue-http-response-message.html" class="priority-" name="" title="">HttpResponseMessage</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="web-api/hybrid/index.html" class="priority-" name="" title="">Hybrid Dnn &amp; Oqtane WebApi</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <a href="external/dotnet-external-use.html" class="priority-" name="" title="">External API</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a class="">Other APIs</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="features/index.html" class="priority-" name="" title="">Features API</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a class="">Use in DLLs #todoc</a>
                    <ul class="nav level2">
                          <li class="">
                              <a class="">Access data</a>
                          </li>
                          <li class="">
                              <a class="">Create typed Entity-objects</a>
                          </li>
                          <li class="">
                              <a class="">Create DataSources</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="conventions/index.html" class="priority-" name="" title="">Conventions</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="conventions/named-parameters.html" class="priority-" name="" title="">Use Named Parameters</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class="">Logging #todoc</a>
                </li>
                <li class="">
                    <a href="dependency-injection/index.html" class="priority-" name="" title="">Dependency Injection</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="errors/index.html" class="priority-" name="" title="">Common Errors</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="errors/linq-cannot-use-lambda.html" class="priority-" name="" title="">Error Cannot use a lambda expression</a>
                          </li>
                          <li class="">
                              <a href="errors/ientity-not-found.html" class="priority-" name="" title="">Error IEntity does not exist in the Namespace</a>
                          </li>
                          <li class="">
                              <a href="errors/dynamicentity-not-be-found.html" class="priority-" name="" title="">Error: The type or namespace name 'DynamicEntity' could not be found</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="debug/index.html" class="priority-" name="" title="">2sxc Insights Debugging</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="debug/insights.html" class="priority-" name="" title="">2sxc Server Insights &#11088;</a>
                          </li>
                          <li class="">
                              <a href="log/index.html" class="priority-" name="" title="">Logging</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>