﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          <ul class="nav level1">
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="Custom.Dnn.html" class="priority-custom" name="" title="Custom.Dnn">Custom.Dnn</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="Custom.Dnn.Api12.html" class="priority-normal" name="" title="Custom.Dnn">Api12</a>
                          </li>
                          <li class="">
                              <a href="Custom.Dnn.Code12.html" class="priority-normal" name="" title="Custom.Dnn">Code12</a>
                          </li>
                          <li class="">
                              <a href="Custom.Dnn.Razor12.html" class="priority-normal" name="" title="Custom.Dnn">Razor12</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="Custom.Hybrid.html" class="priority-custom" name="" title="Custom.Hybrid">Custom.Hybrid</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="Custom.Hybrid.Api12.html" class="priority-normal" name="" title="Custom.Hybrid">Api12</a>
                          </li>
                          <li class="">
                              <a href="Custom.Hybrid.Code12.html" class="priority-normal" name="" title="Custom.Hybrid">Code12</a>
                          </li>
                          <li class="">
                              <a href="Custom.Hybrid.Razor12.html" class="priority-normal" name="" title="Custom.Hybrid">Razor12</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="Custom.Oqtane.html" class="priority-custom" name="" title="Custom.Oqtane">Custom.Oqtane</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="Custom.Oqtane.Razor12.html" class="priority-normal" name="" title="Custom.Oqtane">Razor12</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.html" class="priority-internal" name="" title="ToSic.Eav">ToSic.Eav</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Factory.html" class="priority-normal" name="" title="ToSic.Eav">Factory</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Apps.html" class="priority-internal" name="" title="ToSic.Eav.Apps">ToSic.Eav.Apps</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Apps.App.html" class="priority-normal" name="" title="ToSic.Eav.Apps">App</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.AppBase.html" class="priority-normal" name="" title="ToSic.Eav.Apps">AppBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.AppData.html" class="priority-normal" name="" title="ToSic.Eav.Apps">AppData</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.AppIdentity.html" class="priority-normal" name="" title="ToSic.Eav.Apps">AppIdentity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.AppState.html" class="priority-normal" name="" title="ToSic.Eav.Apps">AppState</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IApp.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IApp</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IAppData.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IAppData</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IAppDataConfiguration.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IAppDataConfiguration</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IAppIdentity.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IAppIdentity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IAppIdentityLight.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IAppIdentityLight</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.IZoneIdentity.html" class="priority-normal" name="" title="ToSic.Eav.Apps">IZoneIdentity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.Zone.html" class="priority-normal" name="" title="ToSic.Eav.Apps">Zone</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Apps.Assets.html" class="priority-internal" name="" title="ToSic.Eav.Apps.Assets">...Apps.Assets</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Apps.Assets.IAsset.html" class="priority-normal" name="" title="ToSic.Eav.Apps.Assets">IAsset</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.Assets.IFile.html" class="priority-normal" name="" title="ToSic.Eav.Apps.Assets">IFile</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Apps.Assets.IFolder.html" class="priority-normal" name="" title="ToSic.Eav.Apps.Assets">IFolder</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Caching.html" class="priority-internal" name="" title="ToSic.Eav.Caching">ToSic.Eav.Caching</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Caching.AppsCache.html" class="priority-normal" name="" title="ToSic.Eav.Caching">AppsCache</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.AppsCacheBase.html" class="priority-normal" name="" title="ToSic.Eav.Caching">AppsCacheBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.IAppsCache.html" class="priority-normal" name="" title="ToSic.Eav.Caching">IAppsCache</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.ICacheDependent.html" class="priority-normal" name="" title="ToSic.Eav.Caching">ICacheDependent</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.ICacheExpiring.html" class="priority-normal" name="" title="ToSic.Eav.Caching">ICacheExpiring</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.ICacheKey.html" class="priority-normal" name="" title="ToSic.Eav.Caching">ICacheKey</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.ICacheKeyManager.html" class="priority-normal" name="" title="ToSic.Eav.Caching">ICacheKeyManager</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.ITimestamped.html" class="priority-normal" name="" title="ToSic.Eav.Caching">ITimestamped</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.SynchronizedList-1.html" class="priority-normal" name="" title="ToSic.Eav.Caching">SynchronizedList&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Caching.SynchronizedObject-1.html" class="priority-normal" name="" title="ToSic.Eav.Caching">SynchronizedObject&lt;T&gt;</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Configuration.html" class="priority-internal" name="" title="ToSic.Eav.Configuration">ToSic.Eav.Configuration</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Configuration.Features.html" class="priority-normal" name="" title="ToSic.Eav.Configuration">Features</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Configuration.IFeaturesService.html" class="priority-normal" name="" title="ToSic.Eav.Configuration">IFeaturesService</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Data.html" class="priority-data" name="" title="ToSic.Eav.Data">ToSic.Eav.Data</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Data.EntityBasedType.html" class="priority-normal" name="" title="ToSic.Eav.Data">EntityBasedType</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.EntityBasedWithLog.html" class="priority-normal" name="" title="ToSic.Eav.Data">EntityBasedWithLog</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IAttribute.html" class="priority-normal" name="" title="ToSic.Eav.Data">IAttribute</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IAttribute-1.html" class="priority-normal" name="" title="ToSic.Eav.Data">IAttribute&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IAttributeBase.html" class="priority-normal" name="" title="ToSic.Eav.Data">IAttributeBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IContentType.html" class="priority-normal" name="" title="ToSic.Eav.Data">IContentType</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IContentTypeAttribute.html" class="priority-normal" name="" title="ToSic.Eav.Data">IContentTypeAttribute</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IConvert-2.html" class="priority-normal" name="" title="ToSic.Eav.Data">IConvert&lt;TFrom, TTo&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IConvertEntity-1.html" class="priority-normal" name="" title="ToSic.Eav.Data">IConvertEntity&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IDataBuilder.html" class="priority-normal" name="" title="ToSic.Eav.Data">IDataBuilder</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IDimension.html" class="priority-normal" name="" title="ToSic.Eav.Data">IDimension</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IEntitiesSource.html" class="priority-normal" name="" title="ToSic.Eav.Data">IEntitiesSource</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IEntity.html" class="priority-normal" name="" title="ToSic.Eav.Data">IEntity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IEntityBasedType.html" class="priority-normal" name="" title="ToSic.Eav.Data">IEntityBasedType</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IEntityLight.html" class="priority-normal" name="" title="ToSic.Eav.Data">IEntityLight</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IEntityWrapper.html" class="priority-normal" name="" title="ToSic.Eav.Data">IEntityWrapper</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.ILanguage.html" class="priority-normal" name="" title="ToSic.Eav.Data">ILanguage</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IRelationshipManager.html" class="priority-normal" name="" title="ToSic.Eav.Data">IRelationshipManager</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IValue.html" class="priority-normal" name="" title="ToSic.Eav.Data">IValue</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IValue-1.html" class="priority-normal" name="" title="ToSic.Eav.Data">IValue&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IValueConverter.html" class="priority-normal" name="" title="ToSic.Eav.Data">IValueConverter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.IWrapper-1.html" class="priority-normal" name="" title="ToSic.Eav.Data">IWrapper&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.LazyEntities.html" class="priority-normal" name="" title="ToSic.Eav.Data">LazyEntities</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.Value-1.html" class="priority-normal" name="" title="ToSic.Eav.Data">Value&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Data.ValueTypes.html" class="priority-normal" name="" title="ToSic.Eav.Data">ValueTypes</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.DataFormats.EavLight.html" class="priority-data priority-internal" name="" title="ToSic.Eav.DataFormats.EavLight">...DataFormats.EavLight</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.DataFormats.EavLight.EavLightEntity.html" class="priority-normal" name="" title="ToSic.Eav.DataFormats.EavLight">EavLightEntity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataFormats.EavLight.EavLightEntityReference.html" class="priority-normal" name="" title="ToSic.Eav.DataFormats.EavLight">EavLightEntityReference</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataFormats.EavLight.IConvertToEavLight.html" class="priority-normal" name="" title="ToSic.Eav.DataFormats.EavLight">IConvertToEavLight</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.DataSources.html" class="priority-data" name="" title="ToSic.Eav.DataSources">ToSic.Eav.DataSources</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.DataSources.App.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">App</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.AppRoot.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">AppRoot</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.AttributeFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">AttributeFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.AttributeRename.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">AttributeRename</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.CsvDataSource.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">CsvDataSource</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.DataSourceBase.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">DataSourceBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.DataTable.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">DataTable</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.EntityIdFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">EntityIdFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.EntityTypeFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">EntityTypeFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Error.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">Error</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.ExternalData.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">ExternalData</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IAppRoot.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IAppRoot</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IConvertDataSource-1.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IConvertDataSource&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IDataPartShared.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IDataPartShared</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IDataSource.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IDataSource</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IDataSourceConfiguration.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IDataSourceConfiguration</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IDataStream.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IDataStream</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.IDataTarget.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">IDataTarget</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.ItemFilterDuplicates.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">ItemFilterDuplicates</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.LanguageModeler.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">LanguageModeler</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.OwnerFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">OwnerFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Paging.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">Paging</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.PassThrough.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">PassThrough</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.PublishingFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">PublishingFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.QueryRun.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">QueryRun</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.RelationshipFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">RelationshipFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.SerializationConfiguration.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">SerializationConfiguration</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Shuffle.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">Shuffle</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Sql.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">Sql</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.StreamFallback.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">StreamFallback</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.StreamMerge.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">StreamMerge</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.StreamPick.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">StreamPick</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.TreeModeler.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">TreeModeler</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.ValueFilter.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">ValueFilter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.ValueSort.html" class="priority-normal" name="" title="ToSic.Eav.DataSources">ValueSort</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.DataSources.Caching.html" class="priority-internal" name="" title="ToSic.Eav.DataSources.Caching">...DataSources.Caching</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Caching.CacheAllStreams.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Caching">CacheAllStreams</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Caching.ICanPurgeListCache.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Caching">ICanPurgeListCache</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Caching.IListCache.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Caching">IListCache</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Caching.ListCache.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Caching">ListCache</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Caching.ListCacheItem.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Caching">ListCacheItem</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.DataSources.Queries.html" class="priority-data priority-internal" name="" title="ToSic.Eav.DataSources.Queries">...DataSources.Queries</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.Connection.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">Connection</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.DataSourceType.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">DataSourceType</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.IQuery.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">IQuery</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.Query.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">Query</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.QueryDefinition.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">QueryDefinition</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.QueryPartDefinition.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">QueryPartDefinition</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.Queries.VisualQueryAttribute.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.Queries">VisualQueryAttribute</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.DataSources.System.html" class="priority-internal" name="" title="ToSic.Eav.DataSources.System">...DataSources.System</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.DataSources.System.Apps.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.System">Apps</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.System.Attributes.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.System">Attributes</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.System.ContentTypes.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.System">ContentTypes</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.System.QueryInfo.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.System">QueryInfo</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.DataSources.System.Zones.html" class="priority-normal" name="" title="ToSic.Eav.DataSources.System">Zones</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Logging.html" class="priority-internal" name="" title="ToSic.Eav.Logging">ToSic.Eav.Logging</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Logging.CodeRef.html" class="priority-normal" name="" title="ToSic.Eav.Logging">CodeRef</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Logging.HasLog.html" class="priority-normal" name="" title="ToSic.Eav.Logging">HasLog</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Logging.IHasLog.html" class="priority-normal" name="" title="ToSic.Eav.Logging">IHasLog</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Logging.ILog.html" class="priority-normal" name="" title="ToSic.Eav.Logging">ILog</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.LookUp.html" class="priority-internal" name="" title="ToSic.Eav.LookUp">ToSic.Eav.LookUp</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.LookUp.ILookUp.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">ILookUp</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.ILookUpEngine.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">ILookUpEngine</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.ILookUpEngineResolver.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">ILookUpEngineResolver</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpBase.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpEngine.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpEngine</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpIn-1.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpIn&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInDataTarget.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInDataTarget</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInDictionary.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInDictionary</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInEntity.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInEntity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInLookUps.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInLookUps</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInMetadata.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInMetadata</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.LookUp.LookUpInNameValueCollection.html" class="priority-normal" name="" title="ToSic.Eav.LookUp">LookUpInNameValueCollection</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Metadata.html" class="priority-metadata" name="" title="ToSic.Eav.Metadata">ToSic.Eav.Metadata</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Metadata.IHasMetadata.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">IHasMetadata</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Metadata.IMetadataOf.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">IMetadataOf</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Metadata.IMetadataSource.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">IMetadataSource</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Metadata.ITarget.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">ITarget</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Metadata.ITargetTypes.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">ITargetTypes</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Metadata.Target.html" class="priority-normal" name="" title="ToSic.Eav.Metadata">Target</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Repositories.html" class="priority-internal" name="" title="ToSic.Eav.Repositories">ToSic.Eav.Repositories</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Repositories.FolderBasedRepository.html" class="priority-normal" name="" title="ToSic.Eav.Repositories">FolderBasedRepository</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Run.html" class="priority-internal" name="" title="ToSic.Eav.Run">ToSic.Eav.Run</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Run.ICompatibilityLevel.html" class="priority-normal" name="" title="ToSic.Eav.Run">ICompatibilityLevel</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Run.IFingerprint.html" class="priority-normal" name="" title="ToSic.Eav.Run">IFingerprint</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Eav.Security.html" class="priority-internal" name="" title="ToSic.Eav.Security">ToSic.Eav.Security</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Eav.Security.IHasPermissions.html" class="priority-normal" name="" title="ToSic.Eav.Security">IHasPermissions</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Eav.Security.Permission.html" class="priority-normal" name="" title="ToSic.Eav.Security">Permission</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Adam.html" class="priority-adam" name="" title="ToSic.Sxc.Adam">ToSic.Sxc.Adam</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Adam.IAsset.html" class="priority-normal" name="" title="ToSic.Sxc.Adam">IAsset</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Adam.IFile.html" class="priority-normal" name="" title="ToSic.Sxc.Adam">IFile</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Adam.IFolder.html" class="priority-normal" name="" title="ToSic.Sxc.Adam">IFolder</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Apps.html" class="priority-internal" name="" title="ToSic.Sxc.Apps">ToSic.Sxc.Apps</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Apps.App.html" class="priority-normal" name="" title="ToSic.Sxc.Apps">App</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Apps.AppConfiguration.html" class="priority-normal" name="" title="ToSic.Sxc.Apps">AppConfiguration</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Apps.IApp.html" class="priority-normal" name="" title="ToSic.Sxc.Apps">IApp</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Blocks.html" class="priority-internal" name="" title="ToSic.Sxc.Blocks">ToSic.Sxc.Blocks</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Blocks.IBlock.html" class="priority-normal" name="" title="ToSic.Sxc.Blocks">IBlock</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Blocks.IRenderService.html" class="priority-normal" name="" title="ToSic.Sxc.Blocks">IRenderService</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Blocks.IView.html" class="priority-normal" name="" title="ToSic.Sxc.Blocks">IView</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Blocks.Purpose.html" class="priority-normal" name="" title="ToSic.Sxc.Blocks">Purpose</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Blocks.Render.html" class="priority-normal" name="" title="ToSic.Sxc.Blocks">Render</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Code.html" class="priority-internal" name="" title="ToSic.Sxc.Code">ToSic.Sxc.Code</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Code.DynamicCode.html" class="priority-normal" name="" title="ToSic.Sxc.Code">DynamicCode</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Code.DynamicCode12.html" class="priority-normal" name="" title="ToSic.Sxc.Code">DynamicCode12</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Code.DynamicCodeRoot.html" class="priority-normal" name="" title="ToSic.Sxc.Code">DynamicCodeRoot</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Code.ICreateInstance.html" class="priority-normal" name="" title="ToSic.Sxc.Code">ICreateInstance</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Code.IDynamicCode.html" class="priority-normal" name="" title="ToSic.Sxc.Code">IDynamicCode</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Context.html" class="priority-web" name="" title="ToSic.Sxc.Context">ToSic.Sxc.Context</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsContext.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsContext</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsCulture.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsCulture</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsModule.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsModule</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsPage.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsPage</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsPlatform.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsPlatform</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsSite.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsSite</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsUser.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsUser</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.ICmsView.html" class="priority-normal" name="" title="ToSic.Sxc.Context">ICmsView</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.IParameters.html" class="priority-normal" name="" title="ToSic.Sxc.Context">IParameters</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Context.PlatformType.html" class="priority-normal" name="" title="ToSic.Sxc.Context">PlatformType</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Data.html" class="priority-web" name="" title="ToSic.Sxc.Data">ToSic.Sxc.Data</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Data.DynamicEntity.html" class="priority-normal" name="" title="ToSic.Sxc.Data">DynamicEntity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Data.DynamicJacket.html" class="priority-normal" name="" title="ToSic.Sxc.Data">DynamicJacket</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Data.DynamicJacketBase-1.html" class="priority-normal" name="" title="ToSic.Sxc.Data">DynamicJacketBase&lt;T&gt;</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Data.DynamicJacketList.html" class="priority-normal" name="" title="ToSic.Sxc.Data">DynamicJacketList</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Data.IDynamicEntity.html" class="priority-normal" name="" title="ToSic.Sxc.Data">IDynamicEntity</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Data.IDynamicStack.html" class="priority-normal" name="" title="ToSic.Sxc.Data">IDynamicStack</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.DataSources.html" class="priority-data" name="" title="ToSic.Sxc.DataSources">ToSic.Sxc.DataSources</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.DataSources.Block.html" class="priority-normal" name="" title="ToSic.Sxc.DataSources">Block</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.DataSources.CmsBlock.html" class="priority-normal" name="" title="ToSic.Sxc.DataSources">CmsBlock</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.DataSources.IBlockDataSource.html" class="priority-normal" name="" title="ToSic.Sxc.DataSources">IBlockDataSource</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.DataSources.Pages.html" class="priority-normal" name="" title="ToSic.Sxc.DataSources">Pages</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.html" class="priority-web" name="" title="ToSic.Sxc.Dnn">ToSic.Sxc.Dnn</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.ApiController.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn">ApiController</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.DynamicCode.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn">DynamicCode</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Factory.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn">Factory</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.RazorComponent.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn">RazorComponent</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.RazorComponentCode.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn">RazorComponentCode</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.Code.html" class="priority-internal" name="" title="ToSic.Sxc.Dnn.Code">...Dnn.Code</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Code.IDnnDynamicCode.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Code">IDnnDynamicCode</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Code.IDnnDynamicCodeAdditions.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Code">IDnnDynamicCodeAdditions</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.DataSources.html" class="priority-data" name="" title="ToSic.Sxc.Dnn.DataSources">...Dnn.DataSources</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.DataSources.DnnSql.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.DataSources">DnnSql</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.DataSources.DnnUserProfile.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.DataSources">DnnUserProfile</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.LookUp.html" class="priority-internal" name="" title="ToSic.Sxc.Dnn.LookUp">...Dnn.LookUp</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.LookUp.DnnLookUpEngineResolver.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.LookUp">DnnLookUpEngineResolver</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.LookUp.LookUpInDnnPropertyAccess.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.LookUp">LookUpInDnnPropertyAccess</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.Run.html" class="priority-internal" name="" title="ToSic.Sxc.Dnn.Run">...Dnn.Run</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Run.DnnModule.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Run">DnnModule</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Run.DnnSite.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Run">DnnSite</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Run.DnnValueConverter.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Run">DnnValueConverter</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Run.IDnnContext.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Run">IDnnContext</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Dnn.Web.html" class="priority-internal" name="" title="ToSic.Sxc.Dnn.Web">...Dnn.Web</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Web.DnnLinkHelper.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Web">DnnLinkHelper</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Web.IDnnRazorCustomize.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Web">IDnnRazorCustomize</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Dnn.Web.IHtmlHelper.html" class="priority-normal" name="" title="ToSic.Sxc.Dnn.Web">IHtmlHelper</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Engines.html" class="priority-internal" name="" title="ToSic.Sxc.Engines">ToSic.Sxc.Engines</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Engines.EngineBase.html" class="priority-normal" name="" title="ToSic.Sxc.Engines">EngineBase</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Engines.IEngine.html" class="priority-normal" name="" title="ToSic.Sxc.Engines">IEngine</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Engines.RazorEngine.html" class="priority-normal" name="" title="ToSic.Sxc.Engines">RazorEngine</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Engines.TokenEngine.html" class="priority-normal" name="" title="ToSic.Sxc.Engines">TokenEngine</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.LookUp.html" class="priority-internal" name="" title="ToSic.Sxc.LookUp">ToSic.Sxc.LookUp</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.LookUp.LookUpForTokenTemplate.html" class="priority-normal" name="" title="ToSic.Sxc.LookUp">LookUpForTokenTemplate</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Razor.html" class="priority-normal" name="" title="ToSic.Sxc.Razor">ToSic.Sxc.Razor</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Razor.RazorEngine.html" class="priority-normal" name="" title="ToSic.Sxc.Razor">RazorEngine</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Search.html" class="priority-web" name="" title="ToSic.Sxc.Search">ToSic.Sxc.Search</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Search.ISearchItem.html" class="priority-normal" name="" title="ToSic.Sxc.Search">ISearchItem</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Search.SearchIndexException.html" class="priority-normal" name="" title="ToSic.Sxc.Search">SearchIndexException</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Search.SearchItem.html" class="priority-normal" name="" title="ToSic.Sxc.Search">SearchItem</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.Web.html" class="priority-web" name="" title="ToSic.Sxc.Web">ToSic.Sxc.Web</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.Web.IConvertService.html" class="priority-normal" name="" title="ToSic.Sxc.Web">IConvertService</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Web.IHttp.html" class="priority-normal" name="" title="ToSic.Sxc.Web">IHttp</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Web.IInPageEditingSystem.html" class="priority-normal" name="" title="ToSic.Sxc.Web">IInPageEditingSystem</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Web.IJsonService.html" class="priority-normal" name="" title="ToSic.Sxc.Web">IJsonService</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Web.ILinkHelper.html" class="priority-normal" name="" title="ToSic.Sxc.Web">ILinkHelper</a>
                          </li>
                          <li class="">
                              <a href="ToSic.Sxc.Web.IPageService.html" class="priority-normal" name="" title="ToSic.Sxc.Web">IPageService</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="ToSic.Sxc.WebApi.html" class="priority-normal" name="" title="ToSic.Sxc.WebApi">ToSic.Sxc.WebApi</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="ToSic.Sxc.WebApi.IDynamicWebApi.html" class="priority-normal" name="" title="ToSic.Sxc.WebApi">IDynamicWebApi</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>