﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          <ul class="nav level1">
                <li class="">
                    <a href="index.html" class="priority-" name="" title="">Overview</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="app/index.html" class="priority-" name="" title="">App</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="app/folder-structure.html" class="priority-" name="" title="">App Folder</a>
                          </li>
                          <li class="">
                              <a href="app/assets.html" class="priority-" name="" title="">App Assets (JS, Logos, &#8230;)</a>
                          </li>
                          <li class="">
                              <a href="app/icons.html" class="priority-" name="" title="">Icons</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="app/views/index.html" class="priority-" name="" title="">Views</a>
                          </li>
                          <li class="">
                              <a href="app/views/configuration.html" class="priority-" name="" title="">View Configuration</a>
                          </li>
                          <li class="">
                              <a href="app/views/settings.html" class="priority-" name="" title="">View Settings</a>
                          </li>
                          <li class="">
                              <a href="app/views/resources.html" class="priority-" name="" title="">View Resources</a>
                          </li>
                          <li class="">
                              <a href="app/templates.html" class="priority-" name="" title="">View Templates</a>
                          </li>
                          <li class="">
                              <a href="app/web-api.html" class="priority-" name="" title="">WebAPIs</a>
                          </li>
                          <li class="">
                              <a href="app/content-app/index.html" class="priority-" name="" title="">The Content App</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="app/configuration.html" class="priority-" name="" title="">App Configuration</a>
                          </li>
                          <li class="">
                              <a href="app/settings.html" class="priority-" name="" title="">App Settings</a>
                          </li>
                          <li class="">
                              <a href="app/resources.html" class="priority-" name="" title="">App Resources</a>
                          </li>
                          <li class="">
                              <a href="app/permissions.html" class="priority-" name="" title="">App Permissions</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="app/export-import/index.html" class="priority-" name="" title="">App Export / Import</a>
                          </li>
                          <li class="">
                              <a href="app/git/index.html" class="priority-" name="" title="">App Git Integration</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="data/index.html" class="priority-" name="" title="">Data</a>
                    <ul class="nav level2">
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data/content-types/index.html" class="priority-" name="" title="">Content-Types</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="data/content-types/range-app.html" class="priority-" name="" title="">App Content-Types</a>
                                    </li>
                                    <li class="">
                                        <a href="data/content-types/range-app-shared.html" class="priority-" name="" title="">App Shared Content-Types</a>
                                    </li>
                                    <li class="">
                                        <a href="data/content-types/range-global-system.html" class="priority-" name="" title="">System Content-Types</a>
                                    </li>
                                    <li class="">
                                        <a href="data/content-types/range-global.html" class="priority-" name="" title="">Global Content-Types</a>
                                    </li>
                                    <li class="">
                                        <a href="data/content-types/scopes.html" class="priority-" name="" title="">Content-Type Scopes</a>
                                    </li>
                                    <li class="">
                                        <a href="data/content-types/names.html" class="priority-" name="" title="">Content-Type Names</a>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/content-types/specs/index.html" class="priority-" name="" title="">Technical Specs</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/content-types/specs/sql-storage.html" class="priority-" name="" title="">SQL Storage</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/content-types/specs/file-storage.html" class="priority-" name="" title="">File Storage</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/content-types/specs/object-structure.html" class="priority-" name="" title="">C# Object Structure</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data/fields/index.html" class="priority-" name="" title="">Fields / Attributes</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="data/fields/all.html" class="priority-" name="" title="">General Field Settings</a>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/boolean.html" class="priority-" name="" title="">Boolean Fields</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/boolean-default.html" class="priority-" name="" title="">Boolean Default</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/boolean-tristate.html" class="priority-" name="" title="">Boolean Tristate</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/datetime.html" class="priority-" name="" title="">DateTime Fields</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/datetime-default.html" class="priority-" name="" title="">DateTime Default</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/custom.html" class="priority-" name="" title="">Custom Fields</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/custom-gps.html" class="priority-" name="" title="">Custom GPS</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/empty.html" class="priority-" name="" title="">Empty Fields (Groups)</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/empty-default.html" class="priority-" name="" title="">Empty Default (new Group)</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/empty-end.html" class="priority-" name="" title="">Empty End (close a Group)</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/empty-message.html" class="priority-" name="" title="">Empty Message</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/entity.html" class="priority-" name="" title="">Entity Fields (Relationships)</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/entity-default.html" class="priority-" name="" title="">Entity Default</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/entity-query.html" class="priority-" name="" title="">Entity from Query</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/hyperlink.html" class="priority-" name="" title="">Hyperlink Fields (Files)</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/hyperlink-default.html" class="priority-" name="" title="">Hyperlink Default (single item)</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/hyperlink-library.html" class="priority-" name="" title="">Hyperlink Library (file lists)</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/number.html" class="priority-" name="" title="">Number Fields</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/number-default.html" class="priority-" name="" title="">Number Default</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/number-dropdown.html" class="priority-" name="" title="">Number Dropdown</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a href="data/fields/string.html" class="priority-" name="" title="">String / Text Fields</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/fields/string-default.html" class="priority-" name="" title="">String Default</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/string-dropdown.html" class="priority-" name="" title="">String Dropdown</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/string-dropdown-query.html" class="priority-" name="" title="">String Dropdown Query</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/string-wysiwyg.html" class="priority-" name="" title="">String WYSIWYG</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/string-font-icon-picker.html" class="priority-" name="" title="">String Font Icon Picker</a>
                                              </li>
                                              <li class="">
                                                  <a href="data/fields/string-url-path.html" class="priority-" name="" title="">String Url Path</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="data/fields/ephemeral.html" class="priority-" name="" title="">Ephemeral Fields (Temporary)</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data/entities/index.html" class="priority-" name="" title="">Entities / Data</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <span class="expand-stub"></span>
                                        <a class="">Technical Specs</a>
                                        <ul class="nav level4">
                                              <li class="">
                                                  <a href="data/entities/specs/object-structure.html" class="priority-" name="" title="">C# Object Structure</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a href="data/relationships/index.html" class="priority-" name="" title="">Entity Relationships</a>
                          </li>
                          <li class="">
                              <a href="data/multi-language/index.html" class="priority-" name="" title="">Multilanguage &amp; i18n</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data/metadata/index.html" class="priority-" name="" title="">Metadata</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="data/metadata/for.html" class="priority-" name="" title="">Metadata FOR</a>
                                    </li>
                                    <li class="">
                                        <a href="data/metadata/of.html" class="priority-" name="" title="">Metadata OF</a>
                                    </li>
                                    <li class="">
                                        <a href="data/metadata/create.html" class="priority-" name="" title="">Create Metadata</a>
                                    </li>
                                    <li class="">
                                        <a href="data/metadata/read.html" class="priority-" name="" title="">Read Metadata</a>
                                    </li>
                                    <li class="">
                                        <a href="data/metadata/target-types.html" class="priority-" name="" title="">Target Types</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="data/export-import/index.html" class="priority-" name="" title="">Data Export / Import</a>
                          </li>
                          <li class="">
                              <a href="data/instance/index.html" class="priority-" name="" title="">Instance Data vs. All Data</a>
                          </li>
                          <li class="">
                              <a href="data/how-data-flows.html" class="priority-" name="" title="">How data flows</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="content/index.html" class="priority-" name="" title="">Content</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="content/content-assets.html" class="priority-" name="" title="">Content Images &amp; Files</a>
                          </li>
                          <li class="">
                              <a href="content/presentation.html" class="priority-" name="" title="">Content Presentation</a>
                          </li>
                          <li class="">
                              <a href="content/lists.html" class="priority-" name="" title="">Content Lists</a>
                          </li>
                          <li class="">
                              <a href="content/content-app.html" class="priority-" name="" title="">Content App (Primary)</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="browser/index.html" class="priority-" name="" title="">Browser</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="browser/html.html" class="priority-" name="" title="">HTML</a>
                          </li>
                          <li class="">
                              <a href="browser/images.html" class="priority-" name="" title="">Images</a>
                          </li>
                          <li class="">
                              <a href="browser/javascript.html" class="priority-" name="" title="">JavaScript</a>
                          </li>
                          <li class="">
                              <a href="browser/css.html" class="priority-" name="" title="">CSS &amp; Styles</a>
                          </li>
                          <li class="">
                              <a href="browser/json-data.html" class="priority-" name="" title="">JSON Data</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="server/index.html" class="priority-" name="" title="">Server</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="server/data-flow.html" class="priority-" name="" title="">Data Flow</a>
                          </li>
                          <li class="">
                              <a href="server/render/razor/index.html" class="priority-" name="" title="">Razor Templates</a>
                          </li>
                          <li class="">
                              <a href="server/render/tokens/index.html" class="priority-" name="" title="">Token Templates</a>
                          </li>
                          <li class="">
                              <a href="server/asset-optimization/index.html" class="priority-" name="" title="">Asset Optimization</a>
                          </li>
                          <li class="">
                              <a href="server/web-api.html" class="priority-" name="" title="">WebAPIs</a>
                          </li>
                          <li class="">
                              <a href="server/web-api.html" class="priority-" name="" title="">Headless WebAPI</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a class="">Caching</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="server/caching/app-state/app-state.html" class="priority-" name="" title="">App State Cache</a>
                                    </li>
                              </ul>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a href="prepare/index.html" class="priority-" name="" title="">Prepare</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="query/index.html" class="priority-" name="" title="">Query &amp; VisualQuery</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="query/visual-query/index.html" class="priority-" name="" title="">VisualQuery Designer</a>
                          </li>
                          <li class="">
                              <a href="query/streams/in.html" class="priority-" name="" title="">In Streams</a>
                          </li>
                          <li class="">
                              <a href="query/streams/out.html" class="priority-" name="" title="">Out Streams</a>
                          </li>
                          <li class="">
                              <a href="query/parameters/index.html" class="priority-" name="" title="">Parameters</a>
                          </li>
                          <li class="">
                              <a href="query/sub-query/index.html" class="priority-" name="" title="">Sub-Queries</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="query/query-in-view.html" class="priority-" name="" title="">Use in Views / Templates</a>
                          </li>
                          <li class="">
                              <a href="query/ref-edit-form.html" class="priority-" name="" title="">Use in Edit-UI Dropdowns</a>
                          </li>
                          <li class="">
                              <a href="query/ref-headless.html" class="priority-" name="" title="">Use in Headless API</a>
                          </li>
                          <li class="">
                              <a href="query/ref-in-code.html" class="priority-" name="" title="">Use in C# Code</a>
                          </li>
                          <li class="">
                              <a href="query/export-import.html" class="priority-" name="" title="">Export / Import</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="query/query-system.html" class="priority-" name="" title="">System Queries</a>
                          </li>
                          <li class="">
                              <a href="query/data-sources/index.html" class="priority-" name="" title="">Built-In DataSources</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="query/data-sources/third-party.html" class="priority-" name="" title="">Third-Party DataSources</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="query/data-sources/share-point/index.html" class="priority-" name="" title="">SharePoint DataSources</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="query/parameters/test-parameters.html" class="priority-" name="" title="">Test-Parameters</a>
                          </li>
                          <li class="">
                              <a href="query/debug/index.html" class="priority-" name="" title="">Debug VisualQuery</a>
                          </li>
                          <li class="">
                              <a href="query/serialization/index.html" class="priority-" name="" title="">Serialization/JSON tuning</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="look-up/index.html" class="priority-" name="" title="">LookUp Token System</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="look-up/tokens.html" class="priority-" name="" title="">Tokens</a>
                          </li>
                          <li class="">
                              <a href="look-up/engine.html" class="priority-" name="" title="">LookUp Engine</a>
                          </li>
                          <li class="">
                              <a href="look-up/sources.html" class="priority-" name="" title="">LookUp Sources</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-app.html" class="priority-" name="" title="">App LookUps &#9762;&#65039; &#129656;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-datetime.html" class="priority-" name="" title="">DateTime LookUp &#9762;&#65039; &#129656;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-web.html" class="priority-" name="" title="">Web LookUps (todoc &#9762;&#65039; &#129656;)</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-user.html" class="priority-" name="" title="">User LookUps (todoc &#9762;&#65039; &#129656;)</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-dnn.html" class="priority-" name="" title="">Cms LookUps &#9762;&#65039; &#129656;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-dnn.html" class="priority-" name="" title="">Dnn LookUps &#9762;&#65039;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-params.html" class="priority-" name="" title="">Params LookUp &#9762;&#65039; &#129656;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-in.html" class="priority-" name="" title="">In LookUp &#9762;&#65039; &#129656;</a>
                          </li>
                          <li class="">
                              <a href="look-up/lookup-settings.html" class="priority-" name="" title="">Settings Lookup &#9762;&#65039; &#129656;</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="edit/index.html" class="priority-" name="" title="">Edit Content</a>
                    <ul class="nav level2">
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="edit/edit-ux/index.html" class="priority-" name="" title="">Edit UX in the Page</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="edit/edit-ux/toolbars/index.html" class="priority-" name="" title="">Toolbars</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-ux/toolbars/customize.html" class="priority-" name="" title="">Customize Toolbars</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-ux/hide-advanced-features.html" class="priority-" name="" title="">Hide Advanced Features for Editors</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-ux/quick-edit.html" class="priority-" name="" title="">QuickE (Quick Edit)</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-ux/context.html" class="priority-" name="" title="">How the Edit-Context works</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="edit/edit-form/index.html" class="priority-" name="" title="">Edit Form</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="edit/edit-form/fields.html" class="priority-" name="" title="">Fields (to doc)</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-form/field-validation.html" class="priority-" name="" title="">Field Validation (to doc)</a>
                                    </li>
                                    <li class="">
                                        <a class="">Dropdowns with Data #todoc</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/edit-form/custom-fields.html" class="priority-" name="" title="">Custom Fields in the Edit Form</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="edit/formulas/index.html" class="priority-" name="" title="">Formulas &#931; in Edit Form</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="edit/formulas/designer.html" class="priority-" name="" title="">Formula Designer</a>
                                    </li>
                                    <li class="">
                                        <a href="edit/formulas/specs.html" class="priority-" name="" title="">Technical Specs</a>
                                    </li>
                              </ul>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="cms/index.html" class="priority-" name="" title="">Content Management</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="cms/adam/index.html" class="priority-" name="" title="">ADAM Asset Management</a>
                          </li>
                          <li class="">
                              <a href="cms/languages/index.html" class="priority-" name="" title="">Multilanguage Content</a>
                          </li>
                          <li class="">
                              <a href="cms/search/index.html" class="priority-" name="" title="">Full-Text Search in Dnn &#9762;&#65039;</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="cms/content-blocks/index.html" class="priority-" name="" title="">Content Blocks</a>
                          </li>
                          <li class="">
                              <a href="cms/content-blocks/inner-content.html" class="priority-" name="" title="">Inner Content Blocks</a>
                          </li>
                          <li class="">
                              <a href="cms/inner-content/index.html" class="priority-" name="" title="">Inner Content (app in app)</a>
                          </li>
                          <li class="">
                              <a href="cms/content-blocks/content-blocks-in-dnn.html" class="priority-" name="" title="">Content Blocks in Dnn &#9762;&#65039;</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="cms/page-publishing/index.html" class="priority-" name="" title="">Page Publishing Workflow</a>
                          </li>
                          <li class="">
                              <a href="cms/permissions/index.html" class="priority-" name="" title="">Permissions</a>
                          </li>
                          <li class="">
                              <a href="cms/features/index.html" class="priority-" name="" title="">Features Management</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="configuration/index.html" class="priority-" name="" title="">Settings &amp; Configuration &#10024;</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="configuration/settings-stack.html" class="priority-" name="" title="">Settings Stack &#10024; new!</a>
                          </li>
                          <li class="">
                              <a href="configuration/settings-system.html" class="priority-" name="" title="">System Settings &#10024; new!</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="configuration/settings/google-maps.html" class="priority-" name="" title="">Google Maps Settings</a>
                          </li>
                          <li class="">
                              <a href="configuration/settings/settings-webresources.html" class="priority-" name="" title="">WebResources (JS/CSS)</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <a href="configuration/resources-stack.html" class="priority-" name="" title="">Resources Stack &#10024; new!</a>
                          </li>
                          <li class="">
                              <a href="configuration/resources-system.html" class="priority-" name="" title="">System Resources &#10024; new!</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a href="image-resizer/index.html" class="priority-" name="" title="">Image Resizer</a>
                </li>
                <li class="">
                    <a href="polymorphism/index.html" class="priority-" name="" title="">Polymorphism</a>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="platforms/index.html" class="priority-" name="" title="">Platforms</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="platforms/architecture/architecture.html" class="priority-" name="" title="">Architecture</a>
                          </li>
                          <li class="">
                              <a class="">Dnn / DotNetNuke #todoc</a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="platforms/oqtane/index.html" class="priority-" name="" title="">Oqtane &#129656;</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="platforms/oqtane/install.html" class="priority-" name="" title="">Install / Compatibility</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a href="platforms/differences.html" class="priority-" name="" title="">Platform Differences</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a href="mobile-apps/index.html" class="priority-" name="" title="">Mobile Apps &amp; PWAs</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="data-formats/index.html" class="priority-" name="" title="">Data Formats</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="data-formats/json/web-api/index.html" class="priority-" name="" title="">JSON for WebAPI</a>
                          </li>
                          <li class="">
                              <a href="data-formats/xml/table/index.html" class="priority-" name="" title="">XML for Tables</a>
                          </li>
                          <li class="">
                              <a class=""><hr></a>
                          </li>
                          <li class="">
                              <span class="expand-stub"></span>
                              <a href="data-formats/json-v01/index.html" class="priority-" name="" title="">Internal JSON V1 format</a>
                              <ul class="nav level3">
                                    <li class="">
                                        <a href="data-formats/json-v01/entity.html" class="priority-" name="" title="">JSON Entity</a>
                                    </li>
                                    <li class="">
                                        <a href="data-formats/json-v01/content-type.html" class="priority-" name="" title="">JSON Content-Type</a>
                                    </li>
                                    <li class="">
                                        <a href="data-formats/json-v01/value.html" class="priority-" name="" title="">JSON Value</a>
                                    </li>
                                    <li class="">
                                        <a href="data-formats/json-v01/assets.html" class="priority-" name="" title="">JSON Assets</a>
                                    </li>
                                    <li class="">
                                        <a href="data-formats/json-v01/metadata.html" class="priority-" name="" title="">JSON Metadata</a>
                                    </li>
                              </ul>
                          </li>
                          <li class="">
                              <a href="data-formats/zip/index.html" class="priority-" name="" title="">ZIP App Format</a>
                          </li>
                          <li class="">
                              <a href="data-formats/xml/app-data/index.html" class="priority-" name="" title="">XML for App Data</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <a class=""><hr></a>
                </li>
                <li class="">
                    <a href="internal/progress/roadmap.html" class="priority-" name="" title="">Roadmap</a>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="internal/progress/history.html" class="priority-" name="" title="">History</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="internal/progress/breaking-changes.html" class="priority-" name="" title="">Breaking Changes</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a href="style-guide/index.html" class="priority-" name="" title="">Style Guide #todoc</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="style-guide/style-guide-2020.html" class="priority-" name="" title="">Style Guide 2020 WIP</a>
                          </li>
                    </ul>
                </li>
                <li class="">
                    <span class="expand-stub"></span>
                    <a class="">Please Contribute!</a>
                    <ul class="nav level2">
                          <li class="">
                              <a href="internal/docs/docs.html" class="priority-" name="" title="">Contribute to Docs</a>
                          </li>
                          <li class="">
                              <a href="internal/docs/code.html" class="priority-" name="" title="">Contribute to Code</a>
                          </li>
                          <li class="">
                              <a href="internal/docs/doc-tags.html" class="priority-" name="" title="">Tags in Docs</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>